= form_for([@racket, @racket.stringsets.build]) do |f|
  = f.label :brand
  = f.select :brand, options_for_select(@stringsets.map { |stringset| stringset.brand }.uniq)
  = f.label :description
  = f.select :description, options_for_select(@stringsets.map { |stringset| stringset.description }.uniq)
  = f.label :game
  = f.select :game, options_for_select(@stringsets.map { |stringset| stringset.game }.uniq)
  = f.label :restring_price
  = f.select :restring_price, options_for_select(@stringsets.map { |stringset| stringset.restring_price }.uniq)
  = f.submit "Add Strings"
