.container
  .jumbotron
    %h2 Choose Strings
    = form_for(:stringset) do |f|
      = f.label :brand
      = f.select :brand, options_for_select(@brands)
      = f.label :description
      = f.select :description, options_for_select(@descriptions)
      = f.submit "Add Strings"
  = brand_specific_descriptions(@stringsets)