= form_for @customer do |f|
  = f.label :first_name
  = f.text_field :first_name
  = f.label :last_name
  = f.text_field :last_name
  = f.label :email
  = f.email_field :email
  = f.label :times_played_per_week
  = f.number_field :play_per_week
  = f.submit "Add Customer"