!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    %h1
      Thank you for choosing Samuels Tennisport, #{@customer.first_name}!
    %p
      We have successfully put #{@stringset.brand} #{@stringset.description} strings on your #{@racket.brand} racket.
      %br
      Based on your weekly rate of play, your strings will be due for a change on #{@racket.next_string_change.strftime("%A, %B %d %Y")}.
      %br
    %p
      To contact us please #{link_to "send us an email", @url} or respond to this email.
    %p Thanks you and have a great day!