!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    %h1
      Thank you for choosing Samuels Tennisport, #{@customer.first_name}!
    %p
      We are sending this to notify you that based on your weekly rate of play, the #{@stringset.brand} #{@stringset.description} strings on your #{@racket.brand} racket are due for a change on #{@racket.next_string_change}.  We look forward to seeing you then!
      %br
    %p
      To contact us, please follow this link: #{@url}.
    %p Thanks you and have a great day!