!!!
%html
  %head
    %title SamuelsTennisport
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    = render "layouts/layout" unless current_page?(root_path)
    = yield